doctype html
html(lang="ja")
  head
    meta(   charset = "utf-8")
    meta(   http-equiv  = "X-UA-Compatible"
            content     = "IE-edge")
    meta(   name    = "viewport"
            content = "width=device-width,initial-scale=1")
    script(  src    = "js/script.js"
            type    = "text/javascript")
    title Suzuya
    link(   type    = "text/css"
            rel     = "stylesheet"
            href    = "css/style.css")
    include include1.txt
  body
    h1 スズヤ日付計算出題プログラム
    div
      label 問題数
      input#quantity(   type    = "text"
                        value   = "15"
                        style   = "width:3em;")
      button#make(  type    = "button") 作成
    div(    style   = "display:inline-blocks;")
      label 平成
      input#year(   type    = "text"
                    style   = "width:3em;")
      label 年
      input#month(  type    = "text"
                    style   = "width:3em;")
      label 月
      input#day(    type    = "text"
                    style   = "width:3em;")
      label 日
    div#output
    include include2.txt
